# Ignore the default compiler output
a.out

# Ignore specific compiled binaries (if you name them 1_1, 1_2, etc.)
1_1
1_2

# Alternatively, ignore ALL files with no extension (common for C++ binaries)
# This is a bit advanced, so for now, you can just list them or use:
*
!*/
!*.*

# Ignore object files
*.o
